<head>
  <script src="http://fb.me/react-0.13.0.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
  </div>
  <script src="main.js"></script>
</body>

